<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="pl.szop.andrzejshop">

    <application
        android:name="pl.szop.andrzejshop.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="pl.szop.andrzejshop.views.HomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="pl.szop.andrzejshop.views.ProductsActivity" />
        <activity android:name="pl.szop.andrzejshop.views.ProductDetailsActivity"></activity>
    </application>

</manifest>